img {
  padding: 2px;
}

body {
  text-align: center;
  background-image: url(old_moon.png);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 3px 3px silver;
  font-size: 3em;
}

ul {

}

button {
  text-align: center;
}
